body {
    font-family: Roboto;
}


/* First block with nav and hero image */

.header {
display: flex;
flex-direction: column;
background-color: #1F2937;
padding: 150px 200px;
}

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    justify-content: space-between;
}

.hero-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    gap: 10px;
}

.button {
background-color: #3882F6;
color: #F9FAF8;
border-radius: 5px;
padding: 3px 20px;
}

.hero-image {
    background-color: gray;
}

.dev-image {
    width: 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

ul, .hero-secondary {
    font-size: 18;
    color: #E5E7EB;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

/* Block with developers */

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 150px 200px;
}

.benefits-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.benefits-icons {
    display: flex;
    gap: 50px;
    padding: 0px 100px;
}
   
.benefits-descriptions {
display: flex;
flex-direction: column;
align-items: center;
max-width: 150px;
}

.developer-description {
text-align: center;
}

.ton-image {
width: 100px;
}

/* Testimonial section */

.testimonial {
display: flex;
flex-direction: column;
background-color: #E5E7EB;
padding: 150px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    color: #1F2937;
    text-align: left;
}

.quote-author {
    text-align: right;
    padding-right: 50px;
    padding-top: 30px;
}



/* CTA */

.CTA {
    background-color: white;
    padding: 50px 200px;
}

.action-box {
    background-color: #3882F6;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 50px 0px;
    border-radius: 12px;
}

.action-copy {
display: flex;
flex-direction: column;
}

.action-button {
background: transparent;
border-radius: 12px;
border-color:#E5E7EB;
color: #E5E7EB;
padding: 10px 30px;
border-style: solid;
}

.action-header {
    font-size: 24px;
}

/* footer */
.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px 0px;
    justify-content: center;
}
